---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Walaalka - your personal developer">
	<Hero />
	<main class="flex-1">
		hello walaalka!
	</main>
</Layout>
