---
import Icon from "./Icon.svelte";
---

<header
  class="bg-base2 border border-neutral flex justify-around items-center w-full rounded-3xl h-[90vh]"
>
  <section class="leading-8 font-extralight flex flex-col">
    <div class="text-9xl font-serif">
      <Icon id="openQuotes" />
       Mohamed <br /> Hassan
      <Icon id="closeQuotes" />
    </div>
    <div class="font-sans text-ghost italic text-2xl mt-4">
      Software Engineer, specialized in App and Web Development
    </div>
  </section>
  <section class="flex flex-col justify-center items-center -60 w-60">
    <div>
      <img
        src="/mo.JPG"
        alt="Picture of walaalka"
        class="rounded-full border-8 border-accent2"
      />
    </div>

      <div
        class="font-serif text-center mt-4 flex gap-2 justify-center items-baseline"
      >
        <Icon id="circle" />
        <button
          class="relative z-10 rounded-lg py-2 px-5 text-xl"
        >
          Hire Me
        </button>
      </div>
  </section>
</header>

<style>
  :root {
    --accent: hsl(30, 67%, 40%);
    --light: hsl(0, 0%, 85%);
  }
  button {
    position: relative;
    color: var(--light);
    border-width: 2px;
    border-style: dashed solid;
    border-color: var(--light);
  }
  button::before {
    content: '';
    opacity: 0;
    position: absolute;
    background: var(--accent);
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    z-index: -10;
    border-radius: 0.2rem;
    animation: 400ms 1 slideout;
  }
  button:hover::before {
    opacity: 1;
    width: 100%;
    height: 100%;
    animation: 400ms 1 slidein;
  }
  @keyframes slidein {
    from {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius: 0.5rem;
      }

    to {
      opacity: 1;
      width: 100%;
      height: 100%;
      border-radius: 0.2rem;
      }
    }

  @keyframes slideout {
    from {
      opacity: 1;
      width: 100%;
      height: 100%;
      border-radius: 0.2rem;
      }

    to {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius: 0.5rem;
      }
    }
</style>
