---
interface Props {
	title: string;
	description?: string;
}

const { 
	title,
	description = "Software engineer specialized in web development"
	} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col bg-base1 text-base1fg p-7 min-h-screen min-w-screen text-base">
		<slot />
	</body>
</html>
